<!DOCTYPE html>
<html lang="en" class="border-box">
  <title><%= current_page.data.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
  <%= stylesheet_link_tag :tachyons %>
  <%= stylesheet_link_tag :prototypes %>
  <body>
    <%= yield %>
    <%= partial "partials/tab_menu" %>
    <%= javascript_include_tag :home %>
  </body>
</html>
