<!DOCTYPE html>
<html lang="en">
  <title>Prototype #3 | <% if locals[:project] %><%= project.name %><% else %><%= current_page.data.title %><% end %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
  <%= stylesheet_link_tag :tachyons %>
  <%= stylesheet_link_tag :prototypes %>
  <body>
    <%= partial "partials/tab_menu" %>
    <%= partial "partials/prototype3/menu" %>
    <%= yield %>
    <%= partial "partials/prototype3/footer" %>
    <%= javascript_include_tag :home %>
    <%= javascript_include_tag :p1 %>
  </body>
</html>
