<% footer = data.contact.prototype3 %>
<div class="mv8 tc">
  <a class="db mb4 roboto fw3 link dark-gray hover-silver" href="tel:<%= pnum footer.number %>"><%= footer.number %></a>
  <a class="db mb4 roboto fw3 link dark-gray hover-silver" href="mailto:<%= footer.email %>"><%= footer.email %></a>
  <a class="db roboto fw3 link dark-gray hover-silver" href="/"><%= footer.street %></a>
</div>
