---
layout: main3
---
<% project = locals[:project] %>
<div class="mw8 center ph4 ph8-m ph0-l">
  <%# Header %>
  <div class="mv8 mv6-ns ph0-l tc">
    <h1 class="mw6 center ma0 roboto fw4 f2 lh-title dark-gray"><%= project.name %></h1>
    <h2 class="ma0 roboto fw3 f4 lh-title dark-gray"><%= project.category %></h2>
  </div>
  <%# Introduction %>
  <div class="mw6 center tc mb8">
    <div class="cf mb4">
      <div class="fl w-50">
        <p class="ma0 roboto fw3 f5 lh-title silver"><%= project.location %></p>
      </div>
      <div class="fl w-50">
        <p class="ma0 roboto fw3 f5 lh-title silver"><%= project.date %></p>
      </div>
    </div>
    <p class="roboto fw4 f5 dark-gray lh-copy"><%= project.name %> <%= project.detail.introduction %></p>
  </div>
  <%# Image List %>
  <% l = project.images.detail.length %>
  <% project.images.detail.each do |image, i| %>
  <% aspect_ratio = image.aspect_ratio %>
  <% align = image.align %>
    <% if aspect_ratio === "1x1" || aspect_ratio === "6x4" %>
      <div class="<% if i != l - 1 %>mb8<% end %>">
        <div class="aspect-ratio aspect-ratio--<%= aspect_ratio %>">
          <div class="aspect-ratio--object bg-near-white"></div>
        </div>
      </div>
    <% else %>
      <div class="cf">
        <div class="<% if align === "right" %>fr<% else %>fl<% end %> w-two-thirds <% if i != l - 1 %>mb8<% end %>">
          <div class="aspect-ratio aspect-ratio--<%= aspect_ratio %>">
            <div class="aspect-ratio--object bg-near-white"></div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%# Share Project %>
  <%= partial "partials/p3/share" %>
  <%# Next Project %>
  <% project_index = project3_index project.name %>
  <% next_project = next_project project_index %>
  <div class="mv8 tc">
    <div class="h3 tc">
      <div class="dib h-100 br b--light-gray"></div>
    </div>
    <a class="dib mv4 link dim" href="/prototype3/projects/<%= purl next_project.name  %>">
      <p class="roboto fw3 f4 black">Next Project</p>
      <p class="roboto fw3 f4 black"><%= next_project.name %>, <span class="silver"><%= next_project.category %></span></p>
    </a>
    <div class="h3 tc">
      <div class="dib h-100 br b--light-gray"></div>
    </div>
  </div>
</div>
