---
layout: detail1
---
<% project = locals[:project] %>
<div class="vh-50 dt w-100 tc cover" title="<%= project.images.hero.alt %>" style="background:url(../../images/<%= project.images.hero.path %>) no-repeat center;">
  <div class="dtc v-mid">
    <header class="white">
      <h2 class="noto-sans f4 fw4 ma0 lh-title"><%= project.category %></h2>
      <h1 class="noto-sans fw4 ma0 lh-title"><%= project.name %></h1>
    </header>
  </div>
</div>
<div id="content" class="animate-3 mw8 center">
  <div class="ph4 ph0-l pv5 center w-75-m w-50-l">
    <%# Hero %>
    <h4 class="mb5 noto-sans fw4 f7 ttu light-silver tracked-mega mb3"><%= project.location %><span class="relative bottom-02 br1 dib w05 h05 mh3 bg-light-silver"></span><%= project.date %></h4>
    <%# Project Details %>
    <% project.details.intro.each_with_index do |detail, d| %>
      <p class="noto-sans fw4 f4 lh-copy <% if d != project.details.intro.length %>mb5<% end %>"><%= detail %></p>
    <% end %>
  </div>
  <div class="pb3">
    <%# Project Images %>
    <% second_half = false %>
    <% project.images.details.each do |image, i| %>
      <% if image.type == "full" %>
        <%= image_tag image.path, :alt => image.alt %>
      <% elsif image.type == "half" && !second_half %>
        <% second_half = true %>
        <div class="cf-ns">
          <div class="fl-ns w-50-ns pr15-ns">
            <%= image_tag image.path, :alt => image.alt %>
          </div>
      <% elsif image.type == "half" && second_half %>
          <% second_half = false %>
          <div class="fl-ns w-50-ns pl15-ns">
            <%= image_tag image.path, :alt => image.alt %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h2 class="noto-sans fw4 center mv5 tc">Other Projects</h2>
  <div class="ph3 pa4-ns pt0-ns">
    <div class="cf">
      <% index = project_index project.name %>
      <% others = other_projects index %>
      <% others.each do |product| %>
        <div class="fl w-100 w-50-ns ph2 mb3 dim">
          <a class="db flex items-end h6 link pa4 cover" title="<%= project.images.card.alt %>" style="background:url(../../images/<%= project.images.card.path %>) no-repeat center;" href="projects/<%= purl project.name %>">
            <div>
              <h4 class="mt0 mb2 noto-sans fw4 f6 white"><%= project.category %></h4>
              <h2 class="ma0 noto-sans fw4 f4 white lh-title"><%= project.name %></h2>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
