---
layout: main1
---
<% project = data.projects[4] %>
<%# Hero %>
<% hero = project.detail.images[0] %>
<%= image_tag hero.six_four.path, :class => "w-100 mt66", :alt => hero.six_four.alt %>
<div class="mw8 center">
  <%# Project Brief %>
  <div class="mv9 ph4 ph9-m ph0-l">
    <%# Project Header %>
    <div class="">
      <h2 class="mb12 roboto fw4 f5 silver"><%= project.category %></h2>
      <h1 class="ma0 roboto fw4 f3 f8-ns lh-title"><%= project.name %></h1>
    </div>
    <div class="cf mv9-ns">
      <%# Project Location and Date %>
      <div class="cf fl-ns w-third-ns mv9 mv0-ns">
        <div class="fl fn-ns w-50 w-100-ns mb15-ns">
          <h2 class="mb12 roboto fw4 f5 silver">Location</h2>
          <p class="roboto fw3 f5 dark-gray"><%= project.detail.location %></p>
        </div>
        <div class="fl fn-ns w-50 w-100-ns">
          <h2 class="mb12 roboto fw4 f5 silver">Date</h2>
          <p class="roboto fw3 f5 dark-gray"><%= project.detail.date %></p>
        </div>
      </div>
      <%# Project Details %>
      <div class="fl-ns w-two-thirds-ns">
        <h2 class="mb12 roboto fw4 f5 silver">Details</h2>
        <p class="roboto fw3 f5 dark-gray lh-copy cc-2-l cg-1-l"><%= project.detail.details %></p>
      </div>
    </div>
  </div>
  <div class="ph9-m ph0-l">
    <%# Project Image Gallery %>
    <% l = project.detail.images.length %>
    <% project.detail.images.each_with_index do |image, i| %>
      <% if i > 0 %>
        <% if i === 1 || i === 2 %>
          <% if i % 2 != 0 %>
            <div class="cf">
          <% end %>
              <div class="fl-ns w-50-ns mb12 mb15-ns <% if i % 2 != 0 %>pr075-ns<% else %>pl075-ns<% end %>">
                <div class="aspect-ratio aspect-ratio--6x4">
                  <%= image_tag image.six_four.path, :class => "aspect-ratio--object w-100", :alt => image.six_four.alt %>
                </div>
              </div>
          <% if i % 2 === 0 %>
            </div>
          <% end %>
        <% elsif i === 3 || i === 4 %>
          <% if i % 2 != 0 %>
            <div class="cf">
          <% end %>
              <div class="fl-ns w-50-ns mb12 mb15-ns <% if i % 2 != 0 %>pr075-ns<% else %>pl075-ns<% end %>">
                <div class="aspect-ratio aspect-ratio--4x6">
                  <%= image_tag image.four_six.path, :class => "aspect-ratio--object w-100 mb9 mb8-l", :alt => image.six_four.alt %>
                </div>
              </div>
          <% if i % 2 === 0 %>
            </div>
          <% end %>
        <% else %>
          <div class="aspect-ratio aspect-ratio--6x4 mb4 mb9-m">
            <%= image_tag image.six_four.path, :class => "w-100 aspect-ratio--object", :alt => image.six_four.alt %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%# Share Project %>
  <div class="pa4 pv9-ns ph9-m ph0-l">
    <h2 class="ma0 roboto fw4 f6 tracked-mega ttu silver">Share Project</h2>
    <ul class="ma0 pa0 list">
      <li class="dib"><p class="mr4 roboto fw4 dark-gray">Facebook</p></li>
      <li class="dib"><p class="mr4 roboto fw4 dark-gray">Twitter</p></li>
      <li class="dib"><p class="mr4 roboto fw4 dark-gray">Email</p></li>
    </ul>
  </div>
</div>
<%# Other Projects %>
<div class="center ph4 ph4-m ph0-l pv5" style="max-width: 65.5rem;">
  <h3 class="ma0 mb15 pl075-ns roboto fw4 f6 tracked-mega ttu silver">Other Projects</h3>
  <div class="cf">
  <% data.projects.each_with_index do |project, r| %>
    <% if r < 3 %>
      <div class="fl-ns w-third-ns ph075-ns mb9 mb0-ns">
        <a class="dim no-underline" href="/prototype1/projects/equipage">
          <div class="aspect-ratio aspect-ratio--6x4">
            <%= image_tag project.card.six_four.path, :alt => "#{ project.card.six_four.alt }" %>
          </div>
          <p class="mt2 mb0 roboto fw3 lh-title dark-gray">
            <%= project.name %><% if r % 2 == 0 %>  \  <% else %>  /  <% end %><span class="silver"><%= project.category %></span>
          </p>
        </a>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
