---
layout: main1
title: Projects
---
<% categories = [] %>
<% data.projects.each do |project| %>
  <% if !categories.include? project.category %>
    <% categories.push(project.category) %>
  <% end %>
<% end %>
<div class="mw8 center">
  <nav class="mt6 mb4">
    <ul id="filters" class="list ma0 ph4 overflow-x-scroll overflow-y-hidden overflow-scrolling nowrap center pv4">
      <li class="dib"><%= link_to "All", "/", :class => "filter link noto-sans mr4 dark-gray hover-dark-gray" %></li>
      <% categories.each do |category| %>
        <li class="dib"><%= link_to category, "/", :class => "filter link noto-sans mr4 moon-gray hover-dark-gray" %></li>
      <% end %>
    </ul>
  </nav>
  <div class="ph3 pb1">
    <div id="projects" class="cf animate-4">
      <% data.projects.each do |project| %>
        <div class="project fl w-100 w-50-ns w-33-l ph2 mb3 dim" data-category="<%= project.category %>">
          <a class="db flex items-end h5 link pa4 cover" title="<%= project.images.card.alt %>" style="background:url(../../images/<%= project.images.card.path %>) no-repeat center;" href="/prototype1/projects/<%= purl project.name %>">
            <div>
              <h4 class="mt0 mb2 noto-sans fw4 f6 white"><%= project.category %></h4>
              <h2 class="ma0 noto-sans fw4 f4 white lh-title"><%= project.name %></h2>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
