<div class="mv8 tc">
  <h4 class="mb4 roboto fw4 f6 dark-gray">Share Project</h4>
  <a class="dib dim" href="<%= data.contact.social_media.instagram.path %>">
    <%= image_tag "instagram.svg", :style => "width: 1.25rem; height: 1.25rem;" %>
  </a>
  <a class="dib dim mh4" href="<%= data.contact.social_media.twitter.path %>">
    <%= image_tag "twitter.svg", :style => "width: 1.25rem; height: 1.25rem;" %>
  </a>
  <a class="dib dim" href="<%= data.contact.social_media.twitter.path %>">
    <%= image_tag "facebook.svg", :style => "width: 1.25rem; height: 1.25rem;" %>
  </a>
</div>
