---
layout: main4
---
<% project = locals[:project] %>
<div class="mw8 center mt10 mb10-ns ph4 ph8-m ph0-l">
  <%# Header %>
  <div class="mb9">
    <h4 class="ma0 mb3 roboto fw4 f6 tracked-mega ttu silver"><%= project.category %></h4>
    <h1 class="ma0 roboto fw4 f3 f2-ns lh-title dark-gray"><%= project.name %></h1>
  </div>
  <%# Details %>
  <div class="cf mb8">
    <div class="cf fl-ns w-third-ns mb5 mb0-ns">
      <div class="fl fn-ns w-50 w-100-ns mb4-ns">
        <h4 class="ma0 mb3 roboto fw4 f6 tracked-mega ttu silver">Location</h4>
        <p class="mv0 roboto fw3 f5 lh-copy"><%= project.location %></p>
      </div>
      <div class="fl fn-ns w-50 w-100-ns">
        <h4 class="ma0 mb3 roboto fw4 f6 tracked-mega ttu silver">Date</h4>
        <p class="mv0 roboto fw3 f5 lh-copy"><%= project.date %></p>
      </div>
    </div>
    <div class="fl-ns w-two-thirds-ns">
      <h4 class="ma0 mb3 roboto fw4 f6 tracked-mega ttu silver">Details</h4>
      <p class="mv0 roboto fw3 f5 lh-copy cc-2-l cg-1-l"><%= project.detail.prototype4 %></p>
    </div>
  </div>
  <%# Images %>
  <% l = project.images.detail.length %>
  <% project.images.detail.each do |image, i| %>
  <% aspect_ratio = image.aspect_ratio %>
  <% align = image.align %>
    <% if aspect_ratio === "1x1" || aspect_ratio === "6x4" %>
      <div class="<% if i != l - 1 %>mb8<% end %>">
        <div class="aspect-ratio aspect-ratio--<%= aspect_ratio %>">
          <div class="aspect-ratio--object bg-near-white"></div>
        </div>
        <% if image.caption != false %>
          <p class="roboto fw3 f6 silver"><%= image.caption %></p>
        <% end %>
      </div>
    <% else %>
      <div class="cf">
        <div class="<% if align === "right" %>fr-ns<% else %>fl-ns<% end %> w-two-thirds-ns <% if i != l - 1 %>mb8<% end %>">
          <div class="aspect-ratio aspect-ratio--<%= aspect_ratio %>">
            <div class="aspect-ratio--object bg-near-white"></div>
          </div>
          <% if image.caption != false %>
            <p class="roboto fw3 f6 silver"><%= image.caption %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
<%# Other Projects %>
<% project_index = project3_index project.name %>
<% other_projects = other_projects_3 project_index %>
<div class="mw8 center ph4 ph8-m ph0-l">
  <div class="bb b--light-gray"></div>
</div>
<div class="mw9 center pv5 ph4-m ph6-l">
  <div class="ph4 ph3-m">
    <h4 class="ma0 mb4 pl3-l roboto fw4 f6 tracked-mega ttu silver">Other Projects</h4>
  </div>
  <div class="cf ph4 ph0-m">
    <% l = other_projects.length %>
    <% other_projects.each_with_index do |other, o| %>
      <div class="fl w-100 w-third-ns <% if o != l - 1 %>mb4<% end %> mb0-ns pt3-l pr3-ns pl3-ns dim">
        <a class="no-underline" href="/prototype4/projects/<%= purl other.name %>">
          <div class="aspect-ratio aspect-ratio--6x4">
            <div class="aspect-ratio--object bg-near-white"></div>
          </div>
          <p class="mt2 mb0 roboto fw3 lh-title dark-gray">
            <%= other.name %><% if o % 2 == 0 %>  \  <% else %>  /  <% end %><span class="silver"><%= other.category %></span>
          </p>
        </a>
      </div>
    <% end %>
  </div>
</div>
<div class="mw8 center mb5 mb6-ns ph4 ph8-m ph0-l">
  <div class="bb b--light-gray"></div>
</div>
