---
layout: main2
title: Filipao Nunes
---
<div class="mw8 center">
  <%# Caption %>
  <div class="cf mt11 mb8 ph4 ph0-l">
    <h1 class="w-two-thirds-m w-50-l ma0 roboto fw4 f3 f8-ns lh-title"><%= data.index.caption %></h1>
  </div>
  <%# Featured Projects %>
  <% length = data.projects.length %>
  <% data.projects.each_with_index do |project, r| %>
    <% if r === 1 || r === 2 %>
      <% if r === 1 %>
        <div class="cf">
      <% end %>
          <div class="fl-ns w-50-ns mb1 mb15-ns <% if r ===1 %>pr075-ns<% else %>pl075-ns<% end %>">
            <div class="aspect-ratio aspect-ratio--6x4 aspect-ratio--1x1-ns">
              <a class="db aspect-ratio--object cover dim no-underline" title="<%= project.card.six_four.alt %>" href="/prototype2/projects/equipage" style="background:url(../images/<%= project.card.six_four.path %>) no-repeat center;">
                <div class="absolute z-5 pa4">
                  <h2 class="ma0 noto-sans fw4 f4 white lh-title"><%= project.name %></h2>
                  <h4 class="mt0 mb2 noto-sans fw4 f6 tracked-mega ttu white"><%= project.category %></h4>
                </div>
                <div class="absolute w-100 h-100 bg-black-60"></div>
              </a>
            </div>
          </div>
      <% if r === 2 %>
        </div>
      <% end %>
    <% else %>
      <div class="aspect-ratio aspect-ratio--6x4 mb1 mb15-ns">
        <a class="relative db aspect-ratio--object cover dim no-underline" title="<%= project.card.six_four.alt %>" href="/prototype2/projects/equipage" style="background:url(../images/projects/<%= purl project.name %>-card-6x4.jpg) no-repeat center;">
          <div class="absolute z-5 pa4">
            <h2 class="ma0 roboto fw4 f4 white lh-title"><%= project.name %></h2>
            <h4 class="mt0 mb2 roboto fw4 f6 tracked-mega ttu white"><%= project.category %></h4>
          </div>
          <div class="absolute w-100 h-100 bg-black-60"></div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
