---
layout: main1
---
<% contact = data.contact %>
<div class="mw8 center">
  <div class="ph4 mt7 mb5">
    <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Number</h4>
    <a class="pa0 noto-sans f4 link dark-gray" href="tel:<%= pnum contact.number %>"><%= contact.number %></a>
  </div>
  <div class="ph4 mb5">
    <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Email</h4>
    <a class="pa0 noto-sans f4 link dark-gray" href="mailto:<%= contact.email %>"><%= contact.email %></a>
  </div>
  <div class="ph4 mb5">
    <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Address</h4>
    <a class="pa0 noto-sans f4 link dark-gray hover-red" href="/">
      <%= contact.address %>
    </a>
  </div>
  <div class="ph4 mb5">
    <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Hours</h4>
    <p class="pa0 mb2 noto-sans f4 dark-gray">
      Weekdays from <%= contact.hours.weekdays %>
    </p>
    <p class="pa0 mt0 noto-sans f4 dark-gray">
      Saturdays from <%= contact.hours.saturdays %>
    </p>
  </div>
</div>
