---
layout: main1
title: Contact
---
<% contact = data.contact %>
<div class="mw8 center">
  <div class="cf mt6 mb5-ns ph4-ns">
    <div class="fl-ns w-50-ns mb5 ph4 mb0-ns ph0-ns">
      <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Number</h4>
      <a class="pa0 noto-sans f4 link dark-gray hover-moon-gray" href="tel:<%= pnum contact.number %>"><%= contact.number %></a>
    </div>
    <div class="fl-ns w-50-ns mb5 ph4 mb0-ns ph0-ns">
      <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Email</h4>
      <a class="pa0 noto-sans f4 link dark-gray hover-moon-gray" href="mailto:<%= contact.email %>"><%= contact.email %></a>
    </div>
  </div>
  <div class="cf ph4-ns mb5-ns">
    <div class="fl-ns w-50-ns mb5 ph4 mb0-ns ph0-ns">
      <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Address</h4>
      <a class="pa0 noto-sans f4 link dark-gray hover-moon-gray" href="/">
        <p class="pa0 mb2">
          <%= contact.address.street %>
        </p>
        <p class="pa0 mt0 mb2">
          <%= contact.address.city %>, <%= contact.address.state %>
        </p>
        <p class="pa0 mt0 mb2">
          <%= contact.address.country %> <%= contact.address.zip_code %>
        </p>
      </a>
    </div>
    <div class="fl-ns w-50-ns mb5 ph4 mb0-ns ph0-ns">
      <h4 class="noto-sans fw4 f7 ttu light-silver tracked-mega mb3">Hours</h4>
      <p class="pa0 mb2 noto-sans f4 dark-gray">
        Weekdays from <%= contact.hours.weekdays %>
      </p>
      <p class="pa0 mt0 noto-sans f4 dark-gray">
        Saturdays from <%= contact.hours.saturdays %>
      </p>
    </div>
  </div>
</div>
