---
layout: home
title: Filipao Nunes Portfolio — Prototypes by @claudiovallejop
---

<%# Prototypes %>
<div class="pt4 ph4 mw6 center">
  <div class="pc a5 delay1">
    <p class="ma0 pb4 roboto f6 fw3 lh-copy gray tc"><%= data.config.note %></p>
    <div class="w-100 mb4 bb b--light-gray"></div>
  </div>
  <% l = data.config.prototypes.length %>
  <% data.config.prototypes.each_with_index do |prototype, r| %>
    <div class="mw6 center">
      <a class="pc db flex items-center pa4 dim no-underline ba b--light-gray bg-white <% if r != l - 1 %>mb4<% end %> a5 delay<%= r + 2 %>" href="/<%= prototype.path %>">
        <div class="w-100 cf">
          <div class="fl w-90">
            <h2 class="ma0 pb2 roboto f6 fw5 tracked-mega ttu dark-gray"><%= prototype.name %></h2>
            <h4 class="ma0 roboto f7 fw3 silver"><%= prototype.updated %></h4>
          </div>
          <div class="fl w-10 pt2 tr">
            <%= image_tag "arrow-prototypes.svg" %>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
<div class="pa4 mw6 center">
  <%# Note %>
  <div class="note opacity-0 a4 mb4">
    <p class="ma0 pv4 roboto f5 fw3 lh-copy gray"><%= data.config.hello %></p>
    <p class="ma0 pv4 roboto f5 fw3 lh-copy gray"><%= data.config.contact %></p>
    <p class="ma0 pv3 roboto f5 fw3 lh-copy gray"><%= data.config.goodbye %></p>
    <p class="ma0 pv3 roboto f5 fw3 lh-copy gray"><%= data.config.author %></p>
  </div>
</div>
